$white: #fff;
$black: #000;
$black-125: rgba(0, 0, 0, 0.125);
$black-20: rgba(0, 0, 0, 0.2);
$black-25: rgba(0, 0, 0, 0.25);
$black-33: rgba(0, 0, 0, 0.33);
$black-50: rgba(0, 0, 0, 0.5);
$black-75: rbga(0, 0, 0, 0.75);
$dark-grey: #707070;
$dark-grey-text: #555;
$dark-grey-75: rgba(100, 100, 100, 0.75);
$dark-grey-50: rgba(100, 100, 100, 0.5);
$warm-grey: #8d8d8d;
$grey: #979797;
$zero-grey: #a4a4a4;
$light-grey: #f0f0f0;
$very-light-grey: #fbfbfb;
$brand-blue: #008fff;
$brand-grey: #b7b7b7;
$border-color: #e5e5e5;
$page-background-grey: #e5e5e5;
$table-striped-grey: #f9f9f9;
$table-border: #dddddd;
$table-row-hover: #f5f5f5;
$dropdown-highlight: #eee;
$active-item-color: #5a88ff;
$orange: #f05436;
$link: #4990e2;
$notification: #db4342;
$success-color: #3c763d;
$error-color: #a94442;
$warning-color: #8a6d3b;
$warning-background: #fcf8e3;
$info-color: #31708f;
$focus-color: #66afe9;
$focus-glow-color: rgba(102, 175, 233, 0.6);
$get-started-color: #67c668;
$facebook: #3b5998;
$twitter: #4099ff;
$linkedin: #0077b5;
$sign-in-color: #5988fe;

$organiser: #588dc9;
$admin: #254974;
$portal-owner: #0d2643;
$support: #828282;
$member: #5cb85c;
$subscriber: #5bc0de;
$invited: #f0ad4e;

$stage-preparation: #ffc40e;
$stage-open: #58c259;
$stage-closed: #f05436;
$stage-concluded: #488dff;

$log-item-green: #5ab75a;
$log-item-amber: #ffbb5b;
$log-item-red: #d9534f;

$engagement-invited: #f5a623;
$engagement-subscriber: #58c259;
$engagement-contributor: #3a853b;
$engagement-rejected: #d0021b;

$moderation-pending: #f5a623;
$moderation-approved: #58c259;
$moderation-denied: #d9534f;

$unread-indicator: #4a90e2;

$border: 1px solid $border-color;
