@import "colors";

@mixin avatar-icon($dimension) {
  display: inline-block;
  width: $dimension;
  height: $dimension;
  overflow: hidden;
  vertical-align: middle;
  position: relative;

  img {
    width: $dimension;
    height: $dimension;
    border-radius: $dimension / 2;
  }
}

@mixin lighten-bb($color, $percent) {
  background-color: lighten($color, $percent);
  border: 1px solid lighten($color, $percent + 5%);
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin box-shadow {
  box-shadow: 0 2px 4px 0 $black-50;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 15px;
}

a {
  color: $link;
}

// Button customisations
.btn-inverse {
  background-color: $black;
  color: $white;

  &:focus {
    color: $white;
  }

  &:hover,
  &:active:focus {
    color: $white;
    $background-color: lighten($black, 5%);
  }
}

.btn-organise {
  background-color: $organiser;
  color: $white;

  &:focus {
    background-color: $organiser;
    color: $white;
  }

  &:hover,
  &:active:focus {
    background-color: darken($organiser, 5%);
    color: $white;
  }
}

.btn-transparent {
  background: none;
  color: $white;
  border: 1px solid $white;

  &:hover,
  &:focus {
    background: $black-33;
    color: $white;
  }

  &.disabled,
  &:disabled {
    background: none;
    border: 1px solid $white;
  }

  &:active {
    outline: 0;
    box-shadow: inset 0 3px 5px $black-125;
  }
}

.btn-translucent {
  background: $black-50;
  color: $white;
  border: 1px solid $white;

  &:hover,
  &:focus {
    background: $black-33;
    color: $white;
  }

  &.disabled,
  &:disabled {
    background: none;
    border: 1px solid $white;
  }

  &:active {
    outline: 0;
    box-shadow: inset 0 3px 5px $black-125;
  }
}

.btn-link {
  color: $link;
}

.btn-xlg {
  font-size: 24px;
  line-height: 1.2;
  padding: 10px 16px;
  min-width: 240px;
}

@mixin btn-custom($background, $foreground) {
  background: $background;
  color: $foreground;

  &:hover,
  &:focus,
  &:active:focus {
    background-color: darken($background, 5%);
    color: $foreground;
  }
}

.btn-facebook {
  @include btn-custom($facebook, $white);
}

.btn-twitter {
  @include btn-custom($twitter, $white);
}

.btn-linkedin {
  @include btn-custom($linkedin, $white);
}

.btn-grey {
  @include btn-custom($dark-grey-text, $white);
}

.btn-light-grey {
  @include btn-custom($warm-grey, $white);
}

.btn-sign-in {
  border: 1px solid $sign-in-color;
  @include btn-custom($white, $sign-in-color);
}
// End button customisations

// override react virtualized styles
.ReactVirtualized__Table__headerRow {
  text-transform: none;
}

.ReactVirtualized__Table__row {
  border-top: 1px solid $table-border;

  &:nth-child(odd) {
    background-color: $table-striped-grey;
  }

  &:hover {
    background-color: $table-row-hover;
  }
}

.ReactVirtualized__Table__sortableHeaderColumn {
  color: $link;
}
// end override react virtualized styles

.tab-pane {
  padding: 15px 10px;
}

.small-text {
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
}

.light-text {
  font-weight: normal;
}

.help-block-above {
  margin-top: 0;
}

.indent-20 {
  margin-left: 20px;
}

.dropzone-text {
  margin: 70px 10px;
  text-align: center;
  color: $warm-grey;
}

// overriding bootstrap dropdown styles
.dropdown-menu {
  > .active > a,
  > li > a:hover,
  > li > a:focus,
  > .active > a:hover,
  > .active > a:focus {
    background-color: $dropdown-highlight;
    background-image: none;
    filter: none;
    color: inherit;
  }
}

.permissions-checkbox,
.room-visibility-descriptor {
  margin-left: 10px;
}

.permissions-checkbox input[type="checkbox"] {
  margin-top: 9px;
}

.UserInviteModal .permissions-checkbox input[type="checkbox"] {
  margin-top: 4px;
}

.PermissionsSelector .help-block {
  margin-left: 20px;
}

.PermissionsSelector .panel-heading {
  padding: 15px;
}

.PermissionsSelector input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: text-bottom;
}

// really precise selector for badge in panel heading to override bootstrap
.panel-default > .panel-heading .badge.Badge--role-organiser {
  background-color: $organiser;
}

.panel-default > .panel-heading .badge.Badge--role-admin {
  background-color: $admin;
}

.PermissionsSelector__panel-title {
  overflow: auto;
  vertical-align: middle;
  font-size: 20px;

  .Badge--role-admin,
  .Badge--role-organiser {
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 10px;
  }
}

.PermissionsSelector__list {
  margin-left: 10px;
}

.PermissionsSelector__divider {
  margin-top: 7px;
  margin-bottom: 10px;
}

.help-text {
  font-size: 14px;
  line-height: 20px;
  color: $grey;
}

.error-text {
  // bootstrap style needed to break out of the reactstrap components
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  color: $error-color;
}

// overriding the bootstrap defaults for search-filter component
.filter-button .badge {
  font-size: 10px;
}

.search-filter {
  position: relative;

  .panel-body {
    padding-top: 5px;
  }

  .input-group-addon {
    border-radius: 0;
  }

  .form-group {
    margin-bottom: 0;
  }

  input {
    border-radius: 0;
  }

  .search-box {
    z-index: 0;
  }

  .panel {
    margin-bottom: 0;
    border-radius: 0;
    border-top: 0;
    position: absolute;
    width: 100%;
    box-shadow: none;
    z-index: 1;

    &.panel-collapsed {
      border-bottom: 0;
    }
  }
}

.filter-row {
  margin-top: 5px;
  margin-bottom: 5px;

  .btn {
    margin-bottom: 5px;

    // &:focus {
    //   background-color: $white;
    // }

    // &.active {
    //   background-color: $border-color;
    // }
  }
}

.search-box .input-group-addon.active {
  color: $active-item-color;
}

.search-box .addon-display-count {
  padding: 6px;
}

// mf-utility-frontend

html {
  height: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e2e2e2;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

body {
  background-image: linear-gradient(-140deg, #2c7dbc 15%, #7cccc5 70%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-app {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
}

.Header {
  background-color: #2c7dbc;
}
.Footer {
  background-color: #2c7dbc;
  padding: 5px;
}

.app-container {
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.marginPadding {
  margin: 0;
  padding: 0;
}
.search-list {
  position: relative;
  width: 100%;
}
.virtualized-list {
  position: absolute !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 3px 6px 14px 1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 3px 6px 14px 1px rgba(0, 0, 0, 0.72);
  box-shadow: 3px 6px 14px 1px rgba(0, 0, 0, 0.72);
}

.list-item {
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* word-break: break-all; */
}
.activeItem {
  background-color: rgba(0, 0, 0, 0.05);
}

.FundsForm {
  max-width: 618px;
  width: 100%;
//  margin-left: 32px;
  margin-bottom: 20px;
  &__table {
    margin-bottom: 0;
    & th {
      vertical-align: middle;
    }
  }
  &__formControl {
    margin: 0px 12px 12px;
  }
  &__addRow {
    display: flex;
    align-items: flex-start;
  }
  &__submit {
    display: flex;
    justify-content: flex-end;
  }
}

.PortfolioOverview {
  width: 100%;
  height: 100%;
  position: relative;
  .app-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 15px;
  }
  .WindowScroller {
    width: 100%;
  }
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}

// override react virtualized styles
.ReactVirtualized__Table__headerRow {
  text-transform: none;
}

.ReactVirtualized__Table__row {
  border-top: 1px solid $table-border;

  &:nth-child(odd) {
    background-color: $table-striped-grey;
  }

  &:hover {
    background-color: $table-row-hover;
  }
}
.ReactVirtualized__Table__sortableHeaderIcon {
  font-size: 28px;
  height: 24px;
  margin-bottom: -2.5px;
}
.ReactVirtualized__Table__headerColumn {
  display: flex;
  height: 100%;
  align-items: center;
}
// end override react virtualized styles
