::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e2e2e2;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table th {
  vertical-align: middle;
}
.marginPadding {
  margin: 0;
  padding: 0;
}
.search-list {
  position: relative;
  width: 100%;
}
.virtualized-list {
  position: absolute !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 3px 6px 14px 1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 3px 6px 14px 1px rgba(0, 0, 0, 0.72);
  box-shadow: 3px 6px 14px 1px rgba(0, 0, 0, 0.72);
}

.list-item {
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* word-break: break-all; */
}
.activeItem {
  background-color: rgba(0, 0, 0, 0.05);
}
